#content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-left: 65px;
}
#navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    box-shadow: 2px 2px 5px 5px rgb(235, 235, 235);
    color: black;
  background-color: lemonchiffon;
  }
  
  #navbar > div {
    display: flex;
    list-style: none;
  }
  #navbar a {
    text-decoration: none;
    
    font-size: 25px;
    color: black;
  /* background-color: teal; */
  }